In [2]:
import pandas as pd
import os

In [3]:
os.chdir('C:\\Users\\BRIX\\OneDrive\\Data Science\\3 Semester\\DS808 - Visualisering\\Project\\Scripts')

In [4]:
df = pd.read_csv("owid-covid-data.csv")

In [5]:
print(df.dtypes)
print(df.columns)

iso_code                               object
continent                              object
location                               object
date                                   object
total_cases                           float64
new_cases                             float64
new_cases_smoothed                    float64
total_deaths                          float64
new_deaths                            float64
new_deaths_smoothed                   float64
total_cases_per_million               float64
new_cases_per_million                 float64
new_cases_smoothed_per_million        float64
total_deaths_per_million              float64
new_deaths_per_million                float64
new_deaths_smoothed_per_million       float64
reproduction_rate                     float64
icu_patients                          float64
icu_patients_per_million              float64
hosp_patients                         float64
hosp_patients_per_million             float64
weekly_icu_admissions                 float64
weekly_icu_admissions_per_million     float64
weekly_hosp_admissions                float64
weekly_hosp_admissions_per_million    float64
total_tests                           float64
new_tests                             float64
total_tests_per_thousand              float64
new_tests_per_thousand                float64
new_tests_smoothed                    float64
new_tests_smoothed_per_thousand       float64
tests_per_case                        float64
positive_rate                         float64
tests_units                            object
stringency_index                      float64
population                            float64
population_density                    float64
median_age                            float64
aged_65_older                         float64
aged_70_older                         float64
gdp_per_capita                        float64
extreme_poverty                       float64
cardiovasc_death_rate                 float64
diabetes_prevalence                   float64
female_smokers                        float64
male_smokers                          float64
handwashing_facilities                float64
hospital_beds_per_thousand            float64
life_expectancy                       float64
human_development_index               float64
dtype: object
Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [6]:
#df['date'] = df.date.astype("|S")

In [7]:
df.sample # different parts of the dataset, not only several entries on the top.

<bound method NDFrame.sample of       iso_code      continent       location        date  total_cases  \
0          ABW  North America          Aruba  2020-03-13          2.0
1          ABW  North America          Aruba  2020-03-19          NaN
2          ABW  North America          Aruba  2020-03-20          4.0
3          ABW  North America          Aruba  2020-03-21          NaN
4          ABW  North America          Aruba  2020-03-22          NaN
...        ...            ...            ...         ...          ...
58693      NaN            NaN  International  2020-11-19        696.0
58694      NaN            NaN  International  2020-11-20        696.0
58695      NaN            NaN  International  2020-11-21        696.0
58696      NaN            NaN  International  2020-11-22        696.0
58697      NaN            NaN  International  2020-11-23        696.0

       new_cases  new_cases_smoothed  total_deaths  new_deaths  \
0            2.0                 NaN           NaN         0.0
1            NaN               0.286           NaN         NaN
2            2.0               0.286           NaN         0.0
3            NaN               0.286           NaN         NaN
4            NaN               0.286           NaN         NaN
...          ...                 ...           ...         ...
58693        NaN                 NaN           7.0         NaN
58694        NaN                 NaN           7.0         NaN
58695        NaN                 NaN           7.0         NaN
58696        NaN                 NaN           7.0         NaN
58697        NaN                 NaN           7.0         NaN

       new_deaths_smoothed  ...  gdp_per_capita  extreme_poverty  \
0                      NaN  ...       35973.781              NaN
1                      0.0  ...       35973.781              NaN
2                      0.0  ...       35973.781              NaN
3                      0.0  ...       35973.781              NaN
4                      0.0  ...       35973.781              NaN
...                    ...  ...             ...              ...
58693                  NaN  ...             NaN              NaN
58694                  NaN  ...             NaN              NaN
58695                  NaN  ...             NaN              NaN
58696                  NaN  ...             NaN              NaN
58697                  NaN  ...             NaN              NaN

       cardiovasc_death_rate  diabetes_prevalence  female_smokers  \
0                        NaN                11.62             NaN
1                        NaN                11.62             NaN
2                        NaN                11.62             NaN
3                        NaN                11.62             NaN
4                        NaN                11.62             NaN
...                      ...                  ...             ...
58693                    NaN                  NaN             NaN
58694                    NaN                  NaN             NaN
58695                    NaN                  NaN             NaN
58696                    NaN                  NaN             NaN
58697                    NaN                  NaN             NaN

       male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0               NaN                     NaN                         NaN
1               NaN                     NaN                         NaN
2               NaN                     NaN                         NaN
3               NaN                     NaN                         NaN
4               NaN                     NaN                         NaN
...             ...                     ...                         ...
58693           NaN                     NaN                         NaN
58694           NaN                     NaN                         NaN
58695           NaN                     NaN                         NaN
58696           NaN                     NaN                         NaN
58697           NaN                     NaN                         NaN

       life_expectancy  human_development_index
0                76.29                      NaN
1                76.29                      NaN
2                76.29                      NaN
3                76.29                      NaN
4                76.29                      NaN
...                ...                      ...
58693              NaN                      NaN
58694              NaN                      NaN
58695              NaN                      NaN
58696              NaN                      NaN
58697              NaN                      NaN

[58698 rows x 50 columns]>

In [8]:
# Convert string to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y/%m/%d')# Preview the data frame
df.sample(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
8025,BRB,North America,Barbados,2020-10-01,190.0,0.0,0.143,7.0,0.0,0.000,...,16978.068,NaN,170.050,13.57,1.9,14.5,88.469,5.80,79.19,0.800
1836,ARE,Asia,United Arab Emirates,2020-09-02,70805.0,574.0,454.857,384.0,0.0,1.000,...,67293.483,NaN,317.840,17.26,1.2,37.4,NaN,1.20,77.97,0.863
23311,HKG,Asia,Hong Kong,2020-10-27,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.920,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.933
40945,NZL,Oceania,New Zealand,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,36085.843,NaN,128.797,8.08,14.8,17.2,NaN,2.61,82.29,0.917
19296,GBR,Europe,United Kingdom,2020-03-10,469.0,57.0,57.143,3.0,1.0,0.429,...,39753.244,0.2,122.137,4.28,20.0,24.7,NaN,2.54,81.32,0.922
37130,MOZ,Africa,Mozambique,2020-06-03,307.0,53.0,13.429,2.0,0.0,0.143,...,1136.103,62.9,329.942,3.30,5.1,29.1,12.227,0.70,60.85,0.437
2178,ARG,South America,Argentina,2020-11-19,1339324.0,10332.0,9426.000,36347.0,241.0,259.429,...,18933.907,0.6,191.032,5.50,16.2,27.7,NaN,5.00,76.67,0.825
26182,IRQ,Asia,Iraq,2020-07-05,58354.0,2334.0,2156.000,2368.0,106.0,101.143,...,15663.986,2.5,218.612,8.83,NaN,NaN,94.576,1.40,70.60,0.685
4046,BEL,Europe,Belgium,2020-03-01,19.0,18.0,2.571,NaN,0.0,0.000,...,42658.576,0.2,114.898,4.29,25.1,31.4,NaN,5.64,81.63,0.916
17440,ETH,Africa,Ethiopia,2020-09-08,59648.0,976.0,1073.857,933.0,15.0,17.714,...,1729.927,26.7,182.634,7.47,0.4,8.5,7.960,0.30,66.60,0.463

In [9]:
dir(datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [11]:
from datetime import datetime# Get today as string
today = datetime.now().strftime('%d-%m-%Y')# Get a data frame only for today
df_today = df[df.date == today]# Preview the data frame
df_today.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
294,AFG,Asia,Afghanistan,2020-02-12,NaN,0.0,0.000,NaN,0.0,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.50,64.83,0.498
1633,ARE,Asia,United Arab Emirates,2020-02-12,8.0,0.0,0.429,NaN,0.0,0.0,...,67293.483,NaN,317.840,17.26,1.2,37.4,NaN,1.20,77.97,0.863
2226,ARM,Asia,Armenia,2020-02-12,NaN,0.0,0.000,NaN,0.0,0.0,...,8787.580,1.8,341.010,7.11,1.5,52.1,94.043,4.20,75.09,0.755
2804,AUS,Oceania,Australia,2020-02-12,14.0,0.0,0.286,NaN,0.0,0.0,...,44648.710,0.5,107.791,5.07,13.0,16.5,NaN,3.84,83.44,0.939
3133,AUT,Europe,Austria,2020-02-12,NaN,0.0,0.000,NaN,0.0,0.0,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908

In [12]:
import plotly.express as px

fig = px.scatter_geo(
    df_today, 
    locations='countryCode',
    color='continent',
    hover_name='country',
    size='cases',
    projection="natural earth",
    title=f'World COVID-19 Cases for {today}'
)
fig.show()

ValueError: Value of 'size' is not the name of a column in 'data_frame'. Expected one of ['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index', 'population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index'] but received: cases